body {
	font-family: 'Open Sans', sans-serif;
}

footer {
	background-color: #333;
	color: #ddd;
	padding: 20px;
	text-align: center;
}

.navbar {
	padding: 30px 15px;
}

.navbar img {
	width: 20%;
	height: 20%;
}

.fill-screen {
	background-size: cover;
	background-position: center;
}

.content-filler {
	min-height: 350px;
}

.fixed-attachment {
	background-attachment: fixed;
}

@media (max-width: 1024px) {
	.fixed-attachment {
		background-attachment: scroll;
	}
}